@font-face {
    font-family: 'TT Lakes Bold';
    src: url('./fonts/TTLakes-Bold.eot');
    src: url('./fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-Bold.woff') format('woff'),
    url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('./fonts/TTLakes-Regular.eot');
    src: url('./fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes-Regular.woff') format('woff'),
    url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
}
h1{

    font-family: 'TT Lakes Bold';
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;

}
.header{
    margin: 0;
    justify-content: center;
    border-color: white;
    min-width: 320px;
    min-height: 88px;
    border: 1px solid #D9FFF5;


}
nav.menu{
    display: flex;
    border: 1px solid #e50808;
    margin: 18px 16px 18px 16px;
    justify-content: space-between;

}
/* Иконки */
.menu__burger,
.menu__divider,
.menu__checkstatus,
.menu__repair{
    border: 1px solid #000000 ;
    width: 40px;
    height: 40px;
}
img.menu{
    border: 1px solid #000000 ;

}
.menu__logo{
    width: 96px;
    height: 51px;
}
main{
    border-color: #F8F8F8;
}
p{
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 18px;
}